@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');

@font-face {
    font-family: 'Orchidea Pro';
    src: url('./fonts/OrchideaPro-Italic.ttf');
    font-weight: 500;
}

.app{
    font-family: 'Orchidea Pro', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}